services:
  db:
    image: postgres:15
    platform: linux/amd64
    environment:
      POSTGRES_DB: etl
      POSTGRES_USER: etl
      POSTGRES_PASSWORD: etl
    ports:
      - "5432:5432"

  api:
    build: .
    platform: linux/amd64
    depends_on:
      - db
    ports:
      - "8000:8000"
    env_file:
      - .env
